PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=libraryofsunnydale
DB_USER=postgres
DB_PASSWORD=yourpassword
JWT_SECRET=changeme
BCRYPT_ROUNDS=10
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=yourminiopassword
MINIO_BUCKET=group0-pfps
PI_HOST=localhost
